/* contacts/styles.css */

@charset uft-8

html{
	margin: 0;
	padding: 0;
	width: 100%;
}

.contacts-container{
	/*background-color: blue;*/
	clear: both;
	border: 1px solid #666;
	padding: 0;
	margin: 0;
	height: auto;
}

.contacts-info-container{
	/*background-color: red;*/
	margin: 40px 200px 30px 40px;
	padding: 0;
	overflow: hidden;
}

.contacts-info{
	/*background-color: yellow;*/
	float: right;
	width: 400px;
}

.contacts-info-container > img{
	width: 200px;
	height: auto;
}

#clear{
	clear: both;
}
