/* fine_arts/styles.css */
@charset uft-8

html{
	margin: 0;
	padding: 0;
	width: 100%;
}

.fine_arts-container{
	/*background-color: red;*/
	clear: both;
	padding: 15px 0px 15px 15px;
	margin: 0;
	min-height: 500px;
	height: auto;
	overflow: hidden;
}

.fine_arts-container > img{
	width: 49%;
	padding: 1px;
	float: left;
	height: auto;
	object-fit: cover;
	opacity: .6;
}

.fine_arts-container > img:hover{
	opacity: 1;
	object-fit: cover;
	/*cursor: pointer;*/
}

.footer-contact-info{
	margin: 10px auto 20px auto;
}
/*
.modal{
	display: none;
	z-index: 1;
	background-color: black;
	overflow: hidden;
}

.img01{
	background-color: blue;
	width: 100%;
	height: auto;
}*/
