/* photo_lessons/styles.css */
@charset uft-8

html{
	margin: 0;
	padding: 0;
	width: 100%;
}

.photo_lessons-container{
	border: 1px solid black;
	clear: both;
	border: 1px solid #666;
	padding: 0;
	margin: 0;
	min-height: 500px;
	height: auto;
}

.photo_lessons-info{
	margin: 50px 70px 50px 60px;
}